.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button.microphone-button {
  background-color: #E8618CFF;
}

.button.microphone-button:hover:not(:disabled) {
  background-color: #E8618CFF;
}

.button.start-button {
  background-color: #FF4081;
}

.button.start-button:hover {
  background-color: #e91e63;
}