.role-play-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.speech-wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.speech-wave {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.wave {
  width: 10px;
  height: 40px;
  background-color: #007bff;
  border-radius: 5px;
  animation: wave 1.2s infinite ease-in-out;
  animation-play-state: paused;
}

.speech-wave.active .wave {
  animation-play-state: running;
}

@keyframes wave {

  0%,
  60%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.control-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.control-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.microphone-button {
  background-color: #E8618CFF;
}

.microphone-button:hover:not(:disabled) {
  background-color: #E8618CFF;
}

.role-play-page p {
  margin-top: 20px;
  font-size: 16px;
  color: #343a40;
}